/* Soluzione qui */

/*#region screen large mobile*/

@media screen and (max-width: 576px) {

       .presentation img {
        float: left;
        margin: 10px;
    }

     /*button social network*/
  

    .social-networks {
        display: flex;
    }

    .social-networks button {
        flex: 1;
    }

    
}

/*#endregion screen large mobile*/

/*#region screen tablet*/


@media  screen and (min-width: 768px) {

    /*header*/
    
    #topbar {
        justify-content: flex-start;
    }

    /*main*/

    main {
        padding: 50px;
    }

    /*recipe*/

    .recipe-origin {
        display: inline;
    }

    .recipe-origin,
    .recipe-name {
        font-size: 30px;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .quick-notes li {
        width: 30%;

    }

    /*button social network*/
  

    .social-networks {
        display: flex;
    }

    .social-networks button {
        flex: 1;
    }

    /*ads*/

    .ads {
        display: block;
    }

    /*presentatio*/


    .presentation img {
        float: left;
        margin: 10px;
    }
        

}

/*#endregion screen tablet*/

/*#region screen desktop*/

@media screen and (min-width: 992px) {

    /*recipe*/

    .recipe-origin,
    .recipe-name {
        font-size: 50px;
    }

    /*video e quick notes*/

    .quick-notes ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0;
    }

    .quick-notes li {
        width: auto;
        justify-content: flex-end;
        align-items: flex-end;
    }

    div.recipe-card {
        display: flex;
    }

    .recipe-video {
        min-width: 800px;
        width: 100%;
    }

    /*social network*/

    .social-networks .label {
        display: block;
    }
    
    /*footer*/

    footer {
        display: flex;
        justify-content: space-between;
    }

}

/*#endregion screen desktop*/